<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=
    , initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>Document</title>
    <%- include('../partials/header') %>
</head>

<body>
    <label>Competitors</label><br>
    <% competitors.forEach(function(competitor) { %>
        <tr>
            <td>
                <%= competitor.competitorName %>
            </td>
            <td>
                <%= competitor.teamName %>
            </td>
            <td>
                <%= competitor.win %>
            </td>
            <td>
                <%= competitor.lose %>
            </td>
            <td><a href="competitors/<%=competitor._id %>">Details</a></td>
            <form action="competitors/<%=competitor._id %>?_method=DELETE" method="POST">
                <button type="submit">Delete</button>
                </td>
        </tr><br>
        <% }) %>

            <a href="competitors/new">Add Competitor</a>
</body>

</html>