<%- include('../partials/header') %>

    <body>
        <h2>Competitors</h2>
        <% if (user) { %>
            <a href="competitors/new">Add Competitor</a>
            <% } %>
                <table id="competitor-list">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Team Name</th>
                            <th> Wins</th>
                            <th>Loses</th>
                            <th></th>
                            <th>Options</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <% competitors.forEach(function(competitor) { %>
                            <tr>
                                <td>
                                    <%= competitor.competitorName %>
                                </td>
                                <td>
                                    <%= competitor.teamName %>
                                </td>
                                <td>
                                    <%= competitor.win %>
                                </td>
                                <td>
                                    <%= competitor.lose %>
                                </td>
                                <td><a href="/competitors/<%= competitor._id %>">Details</a></td>
                                <% if (user) { %>
                                    <td><a href="/competitors/<%= competitor._id %>/edit">Edit</a></td>
                                    <form action="/competitors/<%= competitor._id %>?_method=DELETE" method="POST">
                                        <td><button type="submit">Delete</button></td>
                                        <% } %>
                                    <% }) %>
                    </tbody>
                </table>
                </tr>

    </body>