<%- include('../partials/header') %>

    <section id="show-page">
        <div>Competitor Name</div>
        <div>
            <%= competitorDetail.competitorName %>
        </div>
        <div>Team</div>
        <div>
            <%= competitorDetail.teamName %>
        </div>
        <div>Wins</div>
        <div>
            <%= competitorDetail.win %>
        </div>
        <div>Loses</div>
        <div>
            <%= competitorDetail.lose %>
        </div>
    </section>

    <%- include('../partials/footer') %>