<%- include('../partials/header') %>

    <section id="show-page">
        <div>Competitor Name:</div>
        <div>
            <%= competitor.competitorName %>
        </div>
        <div>Team:</div>
        <div>
            <%= competitor.teamName %>
        </div>
        <div>Wins:</div>
        <div>
            <%= competitor.win %>
        </div>
        <div>Loses:</div>
        <div>
            <%= competitor.lose %>
        </div>

        <div>Match History</div>
        <ul>
            <%- competitor.matchHistory.map (matchEl=>
                `<li>${matchEl.matchName}
                    <small>${matchEl.location}</small>
                    <small>${matchEl.date.toLocaleString()}</small>
                </li>`
                ).join('') %>
        </ul>
    </section>
    <% if (user) { %>
        </body>
        <form id="add-match-to-competitor" action="/competitors/<%= competitor.id %>/matches" method="POST">
            <select name="matchId">
                <%- matches.map(match=>
                    `<option value="${match._id}">${match.matchName}</option>)`
                    ).join('') %>
            </select>
            <button type="submit">Add Match to Competitor Record</button>
            <% } %>
        </form>
        <%- include('../partials/footer') %>