
<head>
    <title>Document</title>
    <%- include('../partials/header') %>
</head>

<body>
    <h2>Matches</h2>
        <% if (user) { %>
            <a href="matches/new">Add New Match</a>
            <% } %>
    <table id="match-list">
        <thead>
            <tr>
                <th>Match Name</th>
                <th>Location</th>
                <th>Match Date</th>
                <th></th>
        </thead>
                <% matches.forEach(function(match) { %>  
                    <tbody>
                        <tr>
                            <td>
                                <%= match.matchName %>
                            </td>
                            <td>
                                <%= match.location %>
                            </td>
                            <td>
                                <%= match.date %>
                            </td>
                            <td><a href="matches/<%=match._id %>">Details</a></td>
                        </tr>
                        <% }) %>
    </table>
</body>

</html>