<%- include('../partials/header') %>

<section id="show-page">
    <div>Match Name</div>
    <%= match.matchName %>
    <div>Date</div>
    <%= match.date %>
    <div>Location</div>
    <%= match.location %>
</section>

<%- include('../partials/footer') %>